{%extends 'head/he_base.html'%}
{%load static%}
{%block content%}
<div class="row pt-3" style="background-color: black;">
  <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">DAILY TASK</div>
</div>
<div class="row mt-4">
  <div class="card">
    <div class="card-body">
      <input type="text" class="form-control" id="search" placeholder="search...">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="color:#6C7293;">CLIENT NAME</th> 
              <th scope="col" style="color:#6C7293;">WORKDONE</th> 
              <th scope="col" style="color:#6C7293;">EXECUTIVE NAME</th> 
              <th scope="col" style="color:#6C7293;">FILE</th> 
              <th scope="col" style="color:#6C7293;">TARGET STATUS</th> 
            </tr>
          </thead>
          <tbody id="myTable">
            {% for i in work %}
              <tr>
              <td style="color:white;">{{i.work.client_name.client_name}}</td>
              <td style="color:white;" data-toggle="modal" data-target="#workdetails{{i.id}}">{{i.task}}</td>
              <td style="color:white;">{{i.user.fullname}}</td>
              <td style="color:white;"><button class="btn btn-outline-success">
                {% for ss in i.json_testerscreenshot %}
                {% if ss %}
                <a href="{{ss}}" download style="text-decoration:none;">
                  {% endif %}
                  {% endfor %}
                  Download</a>
              </button></td>
              <td style="color:white;" data-toggle="modal" data-target="#status{{i.id}}">
               <i>status</i>
              </td> 
              
              <div class="rowmt-5 hidden modal fade" id="status{{i.id}}">
                <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
                  aria-labelledby="myLargeModalLabel" aria-hidden="true" >
                  <div class="modal-content modal-xl" style="background-color: #191c24;">
                    <div class="card ">
                      <div class="card-body">
                        <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
                          style="background-color: #191c24;border:none;float: right;font-size: 20px;">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="text-info" style="font-size: 20px;font-weight: 600;">TARGET STATUS</div>
              
                        <form action="{% url 'he_add_status' i.id %}" method="post">{% csrf_token %}
                          <div class="row pt-1">
                            <div class="row mt-3">
                              <div class="col-md-6">
                              <input type="radio" id="option1" name="status" value="yes" >
                              <label for="option1">Achieved</label>
                              </div>
                              <div class="col-md-6">
                              <input type="radio" id="option2" name="status" value="no">      
                              <label for="option2">Not Achieved</label>       
                              </div>
                            </div> 
                        </div> 
                        <div class="mt-2">
                          <button  class="ml-3 mt-2 btn btn-outline-success">
                            SUBMIT
                            </button>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
            {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% for i in work %}
<div class="rowmt-5 modal fade" id="workdetails{{i.id}}">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">Work Details</div>

            <div class="row mt-3">
              <div class="col">
                <p class=" mt-2 text-light" style="color:white;">{{i.workdone}}</p>
              </div>
              {% if i.task == "SMO" %}
             
              {% if i.fb %}
              <div class="row mt-3" data-toggle="modal" data-target="#fb">
                {{i.fb}}
              </div>
              {% endif %}
              {% if i.tw %}
              <div class="row mt-3" data-toggle="modal" data-target="#tw">
                {{i.tw}}
              </div>
              {% endif %}
              {% if i.pin %}
              <div class="row mt-3" data-toggle="modal" data-target="#pin">
                {{i.pin}}
              </div>
              {% endif %}
              {% if i.link %}
              <div class="row mt-3" data-toggle="modal" data-target="#link">
                {{i.link}}
              </div>
              {% endif %}
              {% if i.insta %}
              <div class="row mt-3" data-toggle="modal" data-target="#insta">
                {{i.insta}}
              </div>
              {% endif %}
              {% if i.tumb %}
              <div class="row mt-3" data-toggle="modal" data-target="#tumb">
                {{i.tumb}}
              </div>
              {% endif %}
              {% if i.diry %}
              <div class="row mt-3" data-toggle="modal" data-target="#diry">
                {{i.diry}}
              </div>
              {% endif %}
              {% if i.yt %}
              <div class="row mt-3" data-toggle="modal" data-target="#yt">
                {{i.yt}}
              </div>
              {% endif %}
              {% if i.qra %}
              <div class="row mt-3" data-toggle="modal" data-target="#qra">
                {{i.qra}}
              </div>
              {% endif %}
              {% if i.pr %}
              <div class="row mt-3" data-toggle="modal" data-target="#pr">
                {{i.pr}}
              </div>
              {% endif %}
              {% if i.art %}
              <div class="row mt-3" data-toggle="modal" data-target="#art">
                {{i.art}}
              </div>
              {% endif %}
          
              {% endif %}
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="rowmt-5 hidden modal fade" id="fb">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">{{i.fb}}</div>

            <div class="row mt-2">
              <p>{{i.fb_txt}}</p>
              <div class="row mt-3">
                <div class="col-md-8 ">
                  <button  class="ml-3 mt-2 btn btn-outline-success" style="width:100%;">
                    {% if i.fb_file %}
                    <a href="{{i.fb_file.url}}" download style="text-decoration:none;" class="text-success">
                      DOWMLOAD FILE</a>
                      {% endif %}
                    </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rowmt-5 hidden modal fade" id="tw">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">{{i.tw}}</div>

            <div class="row mt-2">
              <p>{{i.tw_txt}}</p>
              <div class="row mt-3">
                <div class="col-md-8 ">
                  <button  class="ml-3 mt-2 btn btn-outline-success" style="width:100%;">
                    {% if i.tw_file %}
                    <a href="{{i.tw_file.url}}" download style="text-decoration:none;" class="text-success">
                      DOWMLOAD FILE</a>
                      {% endif %}
                    </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rowmt-5 hidden modal fade" id="pin">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">{{i.pin}}</div>

            <div class="row mt-2">
              <p>{{i.pin_txt}}</p>
              <div class="row mt-3">
                <div class="col-md-8 ">
                  <button  class="ml-3 mt-2 btn btn-outline-success" style="width:100%;">
                    <a href="" download style="text-decoration:none;" class="text-success">
                      DOWMLOAD FILE</a>
                    </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rowmt-5 hidden modal fade" id="link">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">{{i.link}}</div>

            <div class="row mt-2">
              <p>{{i.link_txt}}</p>
              <div class="row mt-3">
                <div class="col-md-8 ">
                  <button  class="ml-3 mt-2 btn btn-outline-success" style="width:100%;">
                    <a href="" download style="text-decoration:none;" class="text-success">
                      DOWMLOAD FILE</a>
                    </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rowmt-5 hidden modal fade" id="insta">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">{{i.insta}}</div>

            <div class="row mt-2">
              <p>{{i.insta_txt}}</p>
              <div class="row mt-3">
                <div class="col-md-8 ">
                  <button  class="ml-3 mt-2 btn btn-outline-success" style="width:100%;">
                    <a href="" download style="text-decoration:none;" class="text-success">
                      DOWMLOAD FILE</a>
                    </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rowmt-5 hidden modal fade" id="tumb">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">{{i.tumb}}</div>

            <div class="row mt-2">
              <p>{{i.tumb_txt}}</p>
              <div class="row mt-3">
                <div class="col-md-8 ">
                  <button  class="ml-3 mt-2 btn btn-outline-success" style="width:100%;">
                    <a href="" download style="text-decoration:none;" class="text-success">
                      DOWMLOAD FILE</a>
                    </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rowmt-5 hidden modal fade" id="diry">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">{{i.diry}}</div>

            <div class="row mt-2">
              <p>{{i.diry_txt}}</p>
              <div class="row mt-3">
                <div class="col-md-8 ">
                  <button  class="ml-3 mt-2 btn btn-outline-success" style="width:100%;">
                    <a href="" download style="text-decoration:none;" class="text-success">
                      DOWMLOAD FILE</a>
                    </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rowmt-5 hidden modal fade" id="yt">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">{{i.yt}}</div>

            <div class="row mt-2">
              <p>{{i.yt_txt}}</p>
              <div class="row mt-3">
                <div class="col-md-8 ">
                  <button  class="ml-3 mt-2 btn btn-outline-success" style="width:100%;">
                    <a href="" download style="text-decoration:none;" class="text-success">
                      DOWMLOAD FILE</a>
                    </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}
<script>
  $(document).ready(function () {
    $("#search").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<script type="text/javascript">
  function setselected(id) {
    $('input[name="selected"]').val(id);
  }
</script>

{% endblock %}