{%extends 'admin/ad_base.html'%}
{%load static%}
{%block content%}


<div class="row pt-3" style="background-color: black;">
  <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">PROJECTS</div>
</div>
<div class="row mt-4">
  <div class="card">
    <div class="card-body">
      <div class="row mt-3 mb-3" >
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control" id="search" placeholder="Search by Client...">
            </div>
           
          </div>
          
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control" id="search_ts" placeholder="Search by Task...">
            </div>
           
          </div>
          
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control" id="search_ex" placeholder="Search By Executive ...">
            </div>
            
          </div>
          
        </div>
      </div>
      
      
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="color:#6C7293;">Client Name</th>
              <th scope="col" style="color:#6C7293;">Task name</th>
              <th scope="col" style="color:#6C7293;">AssignedTo</th>
              <th scope="col" style="color:#6C7293;">Description</th>
              <th scope="col" style="color:#6C7293;">Attached File</th>
              
            </tr>
          </thead>
          <tbody id="myTable">

            {% for work in dl_work %}
           
              <tr>
                <td style="color:white;">{{work.cl_name}}</td>
              <td style="color:white;">{{work.task}}</td>
             
              <td style="color:white;">{{work.user.fullname}}</td>
              <td style="color:white;">
                <a href="" data-toggle="modal" data-target="#dis"><div class="badge badge-outline-info" onclick="view_dis('{{work.id}}')">View Description</div></a>
              </td>

              <td class="text-primary">
                {% if work.daily_file == ""%}
                  <div class="badge badge-outline-info">No File Attached</div>
                {% else %}
                  <a href="{{work.daily_file.url}}"><div class="badge badge-outline-info">Download</div></a>
                {% endif %}
              </td>
            </tr>
            dis
            {%endfor%}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="rowmt-5 modal fade" id="dis">
  <div class="modal-dialog modal-m modal-dialog-centered" role="document">
    <div class="modal-content modal-m" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <div class="container">
            <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
              style="background-color: #191c24;border:none; float: right; font-size: 20px;">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-info" style="font-size: 20px;font-weight: 600;">Description</div>

            <div class="row mt-5">
              <div class="col">
                <p class=" mt-2 text-light" style="color:white; ; font-size: 20px; text-align:justify" id="des_rp"></p>
              </div>
              
            </div>
           
        </div>
      </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    $("#search").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  $(document).ready(function () {
    $("#search_ts").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  $(document).ready(function () {
    $("#search_ex").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<script type="text/javascript">
  function setselected(id) {
    $('input[name="selected"]').val(id);
  }
</script>

<script>
  function view_dis(el){
      var elem=el
     
      $.ajax({
          type: "GET",
          url: "{% url 'get_dis' %}",
          data: {
              ele : elem,
              
          },
          success:function(response){
                  console.log(response)
           
                  repl = response.rep
           
                  document.getElementById('des_rp').innerHTML = repl;
    
                  
                  

          }});

      
  }
</script>
{% endblock %}